.about-container {
  align-items: center;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
  margin-top: 50px;
}

.about-header {
  padding-bottom: 5px;
  border-bottom: 5px solid lightblue;
  margin-bottom: 25px;
}

.about-paragraph {
  margin-bottom: 3vh;
}

.description-wrapper {
  margin-bottom: 50px;
}

.FAQ-header {
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 25px;
}
