.graph-wrapper-large {
  /* border: 1px solid blue; */
  margin: 40px;
}

.graph-wrapper {
  /* border: 1px solid red; */
  margin: 40px;
}

.analytics-title {
  text-align: center;
  border-bottom: 5px solid lightblue;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 5px;
}

.analytics-title-secondary {
  text-align: center;
  border-bottom: 5px solid lightblue;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 5px;
}

.analytics-wrapper {
  margin: 0 10vw 0 10vw;
}
